<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>ai.gpt.pingmonitor</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/icmini/ping-monitor/ping-monitor.command</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/icmini/ping-monitor/pingmonitor.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/icmini/ping-monitor/pingmonitor.err.log</string>
  </dict>
</plist>

