<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.02luka.telemetry_rotate</string>
    
    <key>Program</key>
    <string>/bin/zsh</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/icmini/02luka/tools/telemetry_rotate.zsh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/icmini/02luka</string>
    
    <key>StandardOutPath</key>
    <string>/tmp/com.02luka.telemetry_rotate.stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/com.02luka.telemetry_rotate.stderr.log</string>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>LUKA_BASE</key>
        <string>/Users/icmini/02luka</string>
    </dict>
    
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
