<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.02luka.nlp-dispatcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-lc</string>
        <string>cd "$HOME/02luka/core/nlp" && ./start_dispatcher.sh</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>REDIS_CHANNEL_IN</key>
        <string>gg:nlp</string>
        <key>KIM_DISPATCH_EVENTS_CHANNEL</key>
        <string>kim:dispatcher:events</string>
    </dict>
    <key>StandardOutPath</key>
    <string>$HOME/02luka/logs/nlp_dispatcher.log</string>
    <key>StandardErrorPath</key>
    <string>$HOME/02luka/logs/nlp_dispatcher.err</string>
</dict>
</plist>
