<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>LUKA_HOME</key>
		<string>$HOME/02luka/g</string>
		<key>LUKA_SOT</key>
		<string>$HOME/02luka</string>
	</dict>
	<key>Label</key>
	<string>com.02luka.mary.metrics.daily</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-lc</string>
		<string>$HOME/02luka/g/tools/mary_metrics_collect_daily.zsh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>$HOME/02luka/logs/mary_metrics.err.log</string>
	<key>StandardOutPath</key>
	<string>$HOME/02luka/logs/mary_metrics.out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>0</integer>
		<key>Minute</key>
		<integer>5</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>$HOME/02luka</string>
</dict>
</plist>
